# -*- coding: utf-8 -*-
#
# This file is part of Zenodo.
# Copyright (C) 2015-2019 CERN.
#
# Zenodo is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Zenodo is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Zenodo; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

# Pinned base requirements
-r requirements.pinned.txt

# Requirements not on PyPI
-e git+https://github.com/zenodo/zenodo-accessrequests.git#egg=zenodo-accessrequests

# PyPI requirements
alembic
amqp
angular-gettext-babel
aniso8601
arrow
asn1crypto
attrs
autosemver
Babel
backports-abc
backports.functools-lru-cache
backports.shutil-get-terminal-size
billiard
binaryornot
bleach
blinker
cairocffi
CairoSVG
cchardet
celery
certifi
cffi
chardet
citeproc-py
citeproc-py-styles
click
configparser
contextlib2
cookiecutter
counter-robots
cryptography
datacite
dcxml
decorator
defusedxml
dictdiffer
dojson
dulwich
elasticsearch
elasticsearch-dsl
entrypoints
enum34
Flask
Flask-Admin
Flask-Alembic
Flask-Assets
Flask-BabelEx
Flask-Breadcrumbs
Flask-Caching
Flask-CeleryExt
Flask-Collect
Flask-Cors
Flask-DebugToolbar
Flask-IIIF
Flask-KVSession
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Menu
Flask-OAuthlib
Flask-Principal
Flask-RESTful
Flask-Security
flask-shell-ipython
Flask-SQLAlchemy
flask-talisman
Flask-WTF
fs
ftfy
funcsigs
future
github3.pya4
html5lib
httpretty
humanize
idna
IDUtils
infinity
intervals
invenio-access
invenio-accounts
invenio-admin
invenio-app
invenio-assets
invenio-bannersa0
invenio-base
invenio-cache
invenio-celery
invenio-communitiesa29
invenio-config
invenio-csl-resta1
invenio-db
invenio-deposita11
invenio-files-resta23.post3
invenio-formatter
invenio-githuba28
invenio-i18n
invenio-iiifa5
invenio-indexer
invenio-jsonschemas
invenio-logging
invenio-mail
invenio-marc21a9
invenio-oaiserverpost1
invenio-oauth2server
invenio-oauthclient
invenio-openairea16
invenio-opendefinitiona12
invenio-pidrelationsa4
invenio-pidstore
invenio-previewera11
invenio-queuesa2
invenio-records
invenio-records-filesa11.post1
invenio-records-rest
invenio-records-ui
invenio-rest
invenio-search
invenio-search-ui
invenio-sipstorea7
invenio-statsa14.post3
invenio-theme
invenio-userprofiles
invenio-webhooksa4
ipaddr
ipaddress
ipython
ipython-genutils
isbnlib
itsdangerous
Jinja2
jinja2-time
joblib
jsmin
jsonpatch
jsonpointer
jsonref
jsonresolver
jsonschema
jupyter-client
jupyter-core
kombu
limits
lxml
Mako
MarkupSafe
marshmallow
maxminddb
maxminddb-geolite2
mistune
mock
msgpack-python
nbconvert
nbformat
ndg-httpsclient
node-semver
numpy
oauthlib
pandocfilters
passlib
pathlib2
pbr
pexpect
pickleshare
Pillow
pluggy
poyo
prompt-toolkit
psycopg2-binary
ptyprocess
pyasn1
pycountry
pycparser
Pygments
PyJWT
pykerberos
pyOpenSSL
python-dateutil
python-editor
python-geoip
python-slugify
pytz
PyYAML
pyzmq
raven
redis
requests
requests-oauthlib
requests-kerberos
scandir
scikit-learn
scipy
Sickle
simplegeneric
simplejson
simplekv
singledispatch
six
speaklater
SQLAlchemy
SQLAlchemy-Continuum
SQLAlchemy-Utils
statsd
testpath
text-unidecode
tornado
traitlets
ua-parser
Unidecode
uritemplate.py
uritools
urllib3
uWSGI
uwsgitop
validators
vine
Wand
wcwidth
webargs
webassets
webencodings
Werkzeug
whichcraft
wsgi-statsd
WTForms
WTForms-Alchemy
WTForms-Components
